---
// const nav = [
//   { title: 'AI Background Remover', url: '/' },
//   { title: 'Portfolio', url: '/portfolio' },
//   { title: 'About', url: '/about' },
//   { title: 'Blog', url: '/blog' },
//   { title: 'Tags', url: '/tags' },
// ];
---

<div class="flex items-center text-xl">
  <img
    class="w-8 h-8"
    src="/favicon_48x48.png"
    alt="BgGone - Free AI Background Remover"
  />
  <a class="mx-4" href="/">BgGone</a>
  <!-- <div class="hidden sm:block">
    {
      nav.map(({ title, url }) => (
        <a class="mr-4" href={url}>
          {title}
        </a>
      ))
    }
  </div> -->
</div>
